<!-- Latest compiled and minified CSS -->
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<br>
<div class = "container">
<div class ="jumbotron">
<h1>BlitzBuy</h1>
<h2>Login</h2>
<h3> Username </h3>
<input type ="text" class="form-control" ng-model="string" (keyup)="onUsernameKeyUp($event)" >
<br>
<h3> Password </h3>
  <input type ="text" class="form-control" ng-model="string" (keyup)="onPasswordKeyUp($event)" >
<br>
<button (click)="getUserbyUsername()" class = "btn">
  Login</button>
 <button (click)="Logout()" class = "btn">
  Logout</button> 
  <br>
  <!-- <button (click)="manual()" class = "btn"> 
  Manual</button>-->  
  </div>
  <br>
  <div *ngIf="showAI;" >

<div *ngIf="show;" class = "jumbotron">
<h2>Add a Stock</h2>
<h3> Stock </h3>
<input type ="text" class="form-control" ng-model="string" (keyup)="onstockKeyUp($event)" [name]="stock">
<br>

<button (click)="gettickersymbols()" class = "btn">
  add</button>
  <button (click)="deleteTickersymbols()" class = "btn">delete
  </button>
<br>
</div>
<div  class = "jumbotron">

<br>
<table style="width:100%" class="table" *ngIf="show;" > 
  <thead>
    <tr>
      <th scope="col">Stock</th>
    </tr>
  </thead>
   <tbody>
    <tr *ngFor="let ticker of tickers" >
      <td scope="col" (click)="deleteTickersymbolsonclick(ticker)"> {{ticker}} </td>
    </tr>
  </tbody>
  </table>
<h3> Sector </h3>
<!--<input type ="text" class="form-control" ng-model="string" (keyup)="onstockKeyUp($event)" [name]="stock">-->
<div *ngFor="let ticker of tickers">
<br>
{{ticker}}
<!--<button class="btn" >tech</button>
<button class="btn" >food</button>
<button class="btn" (click) = "getSector($event)">Business</button>
{{test}}-->
<input (keyup)= "onsectorkKeyUp($event,ticker)" class="form-control" >
<button class = "btn" (click)="getSector(ticker)">Get Info</button>
<br>
</div>
<br>
<table style="width:100%" class="table" *ngIf="show;" > 
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">BuyorSell</th>
    </tr>
  </thead>
   <tbody>
    <tr *ngFor="let buy of buyorsell" >
      <td scope="col"> {{buy[0]}} </td>
      <td scope="col" *ngIf="buy[1]<0.5"> sell </td>
      <td scope="col" *ngIf="buy[1]>0.5"> buy </td>
     <!-- <td scope="col" > {{buy[1]}} </td>-->
    </tr>
  </tbody>
  </table>
<button (click) = "getbuyorsell()" class = "btn">buy</button>

<br>
</div>
</div>
</div>

<!--<div *ngIf="showmanuel">
  <div class = "container">
<div class ="jumbotron">
<h3>Stock</h3>
<input class = "form-control" ng-model="string" (keyup)="onstockKeyUp($event)">
<h3>open</h3>
<input class = "form-control" (keyup) = "onbuyKeyUp($event)">
<h3>close</h3>
<input class = "form-control" (keyup) = "onsellKeyUp($event)">
<br>
<button class="btn" (click)="GetManuelInformation()">add</button>
<button class="btn">$$$$$$$$</button>
<br>
<br>
<table style="width:100%" class="table" *ngIf="show;" > 
  <thead>
    <tr>
      <th scope="col">Stock</th>
            <th scope="col">open</th>
      <th scope="col">close</th>

    </tr>
  </thead>
   <tbody>
    <tr *ngFor="let info of manuelInformation" >

      <td scope="col" (click)="deleteTickersymbolsonclick(ticker)"> {{info[0]}} </td>
           <td scope="col" (click)="deleteTickersymbolsonclick(ticker)"> {{info[1]}} </td>
      <td scope="col" (click)="deleteTickersymbolsonclick(ticker)"> {{info[2]}} </td>


    </tr>
  </tbody>
  </table>
</div>
  </div>
</div>-->
</body>